.App {
  text-align: center;
}

nav {
  text-align: center;
  color: beige;
  text-decoration: none;
}


.header {
  text-decoration: none;

}

.btn {
  width: 23vw;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: beige;
  transition: transform .2s;
}


.btn:hover {
  transform: scale(1.1);
}
